$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import "~bootstrap/dist/css/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

body {
  background-color: #2E2F30;
}

header {
  margin-bottom: 20px;
}

.container {
  background-color: #F7F7F7;
  margin-top: 15px;
  border-radius: 5px;
  padding: 20px;
}
