@import "~bootstrap/dist/css/bootstrap";

body {
  background-color: #2E2F30;
}

header {
  margin-bottom: 20px;
}

.container {
  background-color: #F7F7F7;
  margin-top: 15px;
  border-radius: 5px;
  padding: 20px;
}
